    <form [formGroup]="quantoForm" novalidate (ngSubmit)="quantoClick(quantoForm.value)">
    <div id="wrapper" class="quant-p1">

        <!-- Header -->
        <div class="container">
            <div class="row">
                    <div class="head-icon"></div>
            </div>
        </div>

        <!-- Body -->
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4"></div>
                <div class="col-xs-12 col-sm-12  col-md-4 col-lg-4">
                    <div class="compare-form">
                            <div class="currLocSelection">
                                <div class="select-icons">
                                    <img src="../assets/img/currLoc-icon.svg" alt="">
                                </div>
                                <div class="select-input">
                                    <select id="baseCurSel" class="select-input-select" formControlName="baseCurrency">
                                        <option value="">Select Base Currency...</option>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="plane-icon" style="margin-left: 1em;">

                            </div>
                            <div class="currLocSelection" style="margin-bottom:3em">
                                <div class="select-icons">
                                    <img src="../assets/img/currLoc-icon.svg" alt="">
                                </div>
                                <div class="select-input">
                                    <select id="destCurSel" class="select-input-select"  formControlName="destinationCurrency"> 
                                        <option value="">Select Destination Currency...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="currLocSelection">
                                <div class="select-icons">
                                    <img src="../assets/img/cart-icon.svg" alt="">
                                </div>
                                <div class="select-input">
                                    <select id="prodSel" class="select-input-select" formControlName="product">
                                        <option value="">Select Product...</option>
                                        <option value="McMeal">McMeal at McDonalds</option>
                                        <option value="DomBeer">Domestic Beer</option>
                                        <option value="ImpBeer">Imported Beer</option>
                                        <option value="Coke">Coke</option>
                                        <option value="WineBottle">Wine Bottle</option>
                                        <option value="PackSmokes">Pack Smokes</option>
                                        <option value="OneWayTicket">One Way Travel Ticket</option>
                                        <option value="MovieTicket">Movie Tickt (1 person)</option>
                                    </select>
                                </div>
                            </div>
                    </div>
                    
                        
                </div>
                <div class="col-md-4 col-lg-4"></div>
            </div>
        </div>
 
        <!-- Button -->
        <div class="container">
            <div class="row">
                 <button type="submit" style="border:none; background-color: transparent" id="QuantoCalc" class="btn-div"></button>  
            </div>
        </div>


    </div>
    <div id="wrapper" class="quant-p2">
        <!-- Header -->
        <div class="container">
            <div class="row">
                    <div class="head-icon"></div>
            </div>
        </div>
        <!-- Body -->
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4"></div>
                <div class="col-xs-12 col-sm-12  col-md-4 col-lg-4">
                    <div class="compare-result">
                        <div class="result-circle">
                            <div class="range">
                                <div class="result-lowest">
                                    <label for="">Lowest</label>
                                    <p><span class="currSymbol">£</span>5000.00</p>
                                </div>
                                <div class="result-highest">
                                    <label for="">Highest</label>
                                    <p><span class="currSymbol">£</span>5000.00</p>
                                </div>
                                <div class="result-curve"></div>
                                <div id="result-difference-circle">
                                    <p id="result-icon"></p>
                                    
                                    <br>
                                    <p class="diff-amount"><span id="baseCurrSymbolDetail"></span> <span id="finalCalcCash"></span></p>
                                    <p id="finalCalcCash-descrip"></p>
                                </div>
                            </div>
                            <div class="compare-details">
                                <div class="compare-prod-icon">
                                    <img src="../assets/img/can-icon.png" alt="">
                                </div>
                                <p class="detail-price">
                                    <span id="destCurrSymbol"></span> <span id="destPriceTxt">Loerm</span>
                                    <br>
                                    <span class="detail-destCountry">in <span id="destCoName"></span></span>
                                </p>
                                <p class="detail-conversion">
                                    <span id="baseCurrSymbol"></span><span id="basePriceTxt">Loerm</span> in <span id="baseCoName"></span>
                                    <br>
                                    <span id="destPriceTxtEX"></span> [ {{quantoForm.controls.destinationCurrency.value}} ] = <span id="basePricePlusExhange"></span> [ {{quantoForm.controls.baseCurrency.value}} ] 
                                    
                                    
                                </p>
                               
                                <!--<p class="detail-baseCountry-price"></p>-->

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4"></div>
            </div>
        </div>

        <!-- Button -->
        <div class="container">
            <div class="row">
                
                <div class="compare-btn-div" id="reQauntoCalc"></div>
                   
            </div>
        </div>

 <!--<div class="margin-20">
              <pre>quantoForm value: <br>{{quantoForm.value | json}}</pre>
</div>-->
    </div>

  </form>