    <form [formGroup]="quantoForm" novalidate (ngSubmit)="quantoClick(quantoForm.value)">
    <div id="wrapper" [hidden]="quantoSearchSection">

        <!-- Header -->
        <div class="container">
            <div class="row">
                    <div class="head-icon"></div>
            </div>
        </div>

        <!-- Body -->
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4"></div>
                <div class="col-xs-12 col-sm-12  col-md-4 col-lg-4">
                    <div class="compare-form">
                            <div class="currLocSelection">
                                <div class="select-icons">
                                    <img src="../assets/img/currLoc-icon.svg" alt="">
                                </div>
                                <div class="select-input">
                                    <select class="select-input-select" formControlName="baseCurrency">
                                        <option value="">Select Current Location...</option>
                                        <option *ngFor="let country of countries" [value]="country.value">{{country.display}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="plane-icon" style="margin-left: 1em;">
                                    
                            </div>
                            <div class="currLocSelection" style="margin-bottom:3em">
                                <div class="select-icons">
                                    <img src="../assets/img/currLoc-icon.svg" alt="">
                                </div>
                                <div class="select-input">
                                    <select class="select-input-select"  formControlName="destinationCurrency"> 
                                        <option value="">Select Destination Location...</option>
                                        <option *ngFor="let country of countries" [value]="country.value">{{country.display}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="currLocSelection">
                                <div class="select-icons">
                                    <img src="../assets/img/cart-icon.svg" alt="">
                                </div>
                                <div class="select-input">
                                    <!--<select id="prodSel" class="select-input-select" formControlName="product">
                                        <option value="">Select Product...</option>
                                        <option value="Meal">Meal at Restaurant</option>
                                        <option value="McMeal">McMeal at McDonalds</option>
                                        <option value="DomBeer">Domestic Beer</option>
                                        <option value="ImpBeer">Imported Beer</option>
                                        <option value="Coke">Soft Drink (Can)</option>
                                        <option value="WineBottle">Wine Bottle</option>
                                        <option value="PackSmokes">Cigarettes (20 box)</option>
                                        <option value="OneWayTicket">One Way Travel Ticket</option>
                                        <option value="MovieTicket">Movie Ticket (1 person)</option>
                                    </select>-->
                                    <style>
                                    #ng-select .form-control {
                                        background-color: transparent;
                                        border: none;
                                    }
                                    </style>
                                    <ng-select id="ng-select" [allowClear]="true"
                                                [items]="productItems"
                                                [disabled]="disabled"
                                                (data)="refreshValue($event)"
                                                (selected)="selected($event)"
                                                (removed)="removed($event)"
                                                (typed)="typed($event)"
                                                placeholder="Select Product">
                                    </ng-select>
                                </div>
                            </div>
                    </div>
                    
                        
                </div>
                <div class="col-md-4 col-lg-4"></div>
            </div>
        </div>
 
        <!-- Button -->
        <div class="container">
            <div class="row">
                 <button type="submit" style="border:none; background-color: transparent" (click)="toggleViews()" class="btn-div"></button>  
            </div>
        </div>


    </div>
    <div id="wrapper" [hidden]="!quantoSection">
        <!-- Header -->
        <div class="container">
            <div class="row">
                    <div class="head-icon"></div>

                    <style>
                        .back-icon {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100px;
                            height: 100px;
                            text-align: center;
                            font-size: 2.5em;
                            padding: 1.3em;
                            font-size: 2em;
                        }
                    </style>
                    <div class="back-icon" (click)="toggleViews()">
                        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                    </div>
            </div>
        </div>
        <!-- Body -->
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4"></div>
                <div class="col-xs-12 col-sm-12  col-md-4 col-lg-4">
                    <div class="compare-result">
                        <div class="result-circle">
                            <div class="range">
                                <div class="result-lowest">
                                    <label for="">Lowest</label>
                                    <p><span id="destPriceLowCurrSymbol">£</span><span id="destPriceLowTxt">Loerm</span></p>
                                </div>
                                <div class="result-highest">
                                    <label for="">Highest</label>
                                    <p><span id="destPriceHighCurrSymbol">£</span><span id="destPriceHighTxt">Loerm</span></p>
                                </div>
                                <div class="result-curve"></div>
                                <div id="result-difference-circle">
                                    <p id="result-icon"></p>
                                    
                                    <br>
                                    <p class="diff-amount"><span id="baseCurrSymbolDetail"></span> <span id="finalCalcCash"></span></p>
                                    <p id="finalCalcCash-descrip"></p>
                                </div>
                            </div>
                            <div class="compare-details">
                                <div class="compare-prod-icon">
                                    <img *ngIf="quantoForm.controls.product.value == 'Meal'" src="../assets/img/meal.png" alt="">
                                    <img *ngIf="quantoForm.controls.product.value == 'McMeal'" src="../assets/img/burger.png" alt="">
                                    <img *ngIf="quantoForm.controls.product.value == 'DomBeer'" src="../assets/img/dombeer.png" alt="">
                                    <img *ngIf="quantoForm.controls.product.value == 'ImpBeer'" src="../assets/img/intbeer.png" alt="">
                                    <img *ngIf="quantoForm.controls.product.value == 'Coke'" src="../assets/img/coke.png" alt="">
                                    <img *ngIf="quantoForm.controls.product.value == 'WineBottle'" src="../assets/img/wine.png" alt="">
                                    <img *ngIf="quantoForm.controls.product.value == 'PackSmokes'" src="../assets/img/smokes.png" alt="">
                                    <img *ngIf="quantoForm.controls.product.value == 'OneWayTicket'" src="../assets/img/onewayTicket.png" alt="">
                                    <img *ngIf="quantoForm.controls.product.value == 'MovieTicket'" src="../assets/img/movieTicket.png" alt="">
                                </div>
                                <p class="detail-price">
                                    <span id="destCurrSymbol"></span> <span id="destPriceTxt">Loerm</span>
                                    <br>
                                    <span class="detail-destCountry">in <span id="destCoName"></span></span>
                                    <br>
                                    <a class="qunatoFind-btn" (click)="toggleFinder()"><img src="../assets/img/quantoFind-icon.svg" alt=""></a>
                                </p>
                                <p class="detail-conversion">
                                    <span id="baseCurrSymbol"></span><span id="basePriceTxt">Loerm</span> in <span id="baseCoName"></span>
                                    <br>
                                    <span id="destPriceTxtEX"></span> [ {{quantoForm.controls.destinationCurrency.value}} ] = <span id="basePricePlusExhange"></span> [ {{quantoForm.controls.baseCurrency.value}} ] 
                                </p>
                               
                                <!--<p class="detail-baseCountry-price"></p>-->

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4"></div>
            </div>
        </div>

        <!-- Button -->
        <!--<div class="container">
            <div class="row">
                
                <div class="compare-btn-div" id="reQauntoCalc"></div>
                   
            </div>
        </div>-->

 <!--<div class="margin-20">
              <pre>quantoForm value: <br>{{quantoForm.value | json}}</pre>
</div>-->
    </div>
    <div id="wrapper" style="position: absolute; z-index: 999;" [hidden]="!quantoFindSection">
        <!-- Header -->
        <div class="container">
            <div class="row">
                    <div class="head-icon"></div>

                    <style>
                        .back-icon {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100px;
                            height: 100px;
                            text-align: center;
                            font-size: 2.5em;
                            padding: 1.3em;
                            font-size: 2em;
                        }
                    </style>
                    <div class="back-icon" (click)="toggleFinder()">
                        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                    </div>
            </div>
        </div>
        <!-- Body -->
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4"></div>
                <div class="col-xs-12 col-sm-12  col-md-4 col-lg-4">
                  <form [formGroup]="loginForm" (ngSubmit)="searchRes($event)">
    <input formControlName="keyword" type="text" placeholder="Your email" required>
  <button type="submit">Search</button>
</form>

<sebm-google-map 
[latitude]="lat" 
[longitude]="lng"
[zoom]="zoom"
[disableDefaultUI]="false"
[zoomControl]="false"
(mapClick)="mapClicked($event)">
<!-- shop Icons -->
    <sebm-google-map-marker 
    *ngFor="let m of markers;let i = index"
    (markerClick)="clickedMarker(m,i)"
      [latitude]="m.lat" 
      [longitude]="m.lng"
      (markerDraggable)="m.draggable"
      (dragEnd)="markerDragEnd(m,$event)"
      [iconUrl]="'./assets/images/shop-icon.png'">
        <sebm-google-map-info-window>
            <strong>{{m.name}}</strong>
            <br>
            <a href="http://maps.apple.com/?q={{m.lat}},{{m.lng}}">Directions</a>
        </sebm-google-map-info-window>
    </sebm-google-map-marker>
    <!-- Current Location Icon -->
    <sebm-google-map-marker *ngIf="lat != null && lng != null" [latitude]="lat" [longitude]="lng" [iconUrl]="'../assets/img/currFinderLoc-icon.png'">
    </sebm-google-map-marker>

    <!-- Input Search Marker Test-->
    <sebm-google-map-marker 
    *ngFor="let iSm of inputSearchMarkers;let j = index"
    (markerClick)="clickedMarker(iSm,j)"
      [latitude]="iSm.lat" 
      [longitude]="iSm.lng"
      (markerDraggable)="iSm.draggable"
      (dragEnd)="markerDragEnd(iSm,$event)"
      [iconUrl]="'./assets/images/bar-icon.png'">
        <sebm-google-map-info-window>
            <strong>{{iSm.name}}</strong>
            <br>
            <a href="http://maps.apple.com/?q={{iSm.lat}},{{iSm.lng}}">Directions</a>
        </sebm-google-map-info-window>
    </sebm-google-map-marker>
</sebm-google-map>
                        
                </div>
                <div class="col-md-4 col-lg-4"></div>
            </div>
        </div>

        <!-- Button -->
        <!--<div class="container">
            <div class="row">
                
                <div class="compare-btn-div" id="reQauntoCalc"></div>
                   
            </div>
        </div>-->

 <!--<div class="margin-20">
              <pre>quantoForm value: <br>{{quantoForm.value | json}}</pre>
</div>-->
    </div>

  </form>