 /*@import url('../assets/css/fonts.css');*/

 #wrapper{
      min-width: 320px;
      min-height: 100vh;
      background: #fff; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#fff, #F3F3F3); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#fff, #F3F3F3); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#fff, #F3F3F3); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#fff, #F3F3F3); /* Standard syntax */
        overflow: hidden;
        font-family: bariol-light;
  }
  .btn-div {
    display: block;
      margin: 0 auto 2em  auto;
      position: relative;
      width: 96px;
      height: 96px;
      background-image: url('../assets/img/btn_white.png');
  }
    .btn-div:active {
        display: block;
        margin: 0 auto 2em  auto;
        position: relative;
        width: 100px;
        height: 100px;
        background-image: url('../assets/img/btn_red.png');
    }

     .compare-btn-div {
    display: block;
      margin: 10em auto 0em  auto;
      position: relative;
      width: 96px;
      height: 96px;
      background-image: url('../assets/img/reCompareBtn.png');
  }
    .compare-btn-div:active {
        margin: 10em auto 0em  auto;
        width: 100px;
        height: 100px;
        background-image: url('../assets/img/reCompareBtnActive.png');
    }
    .head-icon {
     display: block;
      margin: 1em auto;
      position: relative;
      width: 96px;
      height: 90px;
      background-image: url('../assets/img/compare-icon.png');
      background-repeat: no-repeat;
      background-position: center center;
  }
  .head-icon-list {
      display: block;
      margin: 1em auto;
      position: relative;
      width: 96px;
      height: 90px;
      background-image: url('../assets/img/list-icon.png');
      background-repeat: no-repeat;
      background-size:contain;
      background-position: center center;
  }

  .compare-form{
        height:300px;
        width: 100%;
        margin:1rem auto 0 auto; 
    }
    .currLocSelection{
        height: 60px;
        width:100%;
        float: left
    }
    .select-icons{
        min-height: 100%;
        width: 45px;
        float: left;
        margin-right:.5em; 
    }
    .select-icons img{
        
        min-width: 100%;
        
    }
    .select-input{
        min-height: 100%;
        width: 80%;
        float: left
    }

    .select-input-select {
        min-width: 100%; 
        min-height: 60px; 
        border: none;
        background-color: transparent;
        margin-top:.3em;  
        font-size: 2.2rem;
        
        color: #9B9B9B;
    }
    .plane-icon{
        float: left;
        width: 20px;
        height: 51px;
        background-image: url('../assets/img/plane-icon-select.png');
        background-repeat: no-repeat;
    }
    .plane-icon-red{
        float: left;
        width: 20px;
        height: 51px;
        background-image: url('../assets/img/plane-icon-select-red.png');
        background-repeat: no-repeat;
    }


/* Compare Result*/

  .compare-result{
        height:300px;
        width: 100%;
        margin:0 auto 0 auto;

    }
        .range {
            height: 80px;
            width: 100%;
            margin-top: 200px;
            position: absolute;
        }
            .result-circle {
                position: relative;
                 
                 background-repeat: no-repeat;
                 background-size: contain;
                 width: 100%;
                 height: 100%;
                 margin: 0 auto;
            }
            .result-lowest,
            .result-highest {
                height: 80px;
                width: 80px;
                border-radius: 40px; 
                border: 1px dashed #9B9B9B;
                color: #000;
                line-height: 100%;
                text-align: center;
                padding-top:1.5em;
                color: #9B9B9B;

            }
            .result-lowest {
                
                float: left;
            }
            .result-highest {
                
                float: right;
                
            }
            .result-curve{
                position: absolute;
                background: url('../assets/img/result-curve.png') no-repeat center;
                background-size: 45%; 
                min-width: 100%;
                padding: 0 80px;
                height: 38px;
            }
            #result-difference-circle {
                 width: 125px;
                 height: 125px;
                 margin: 2em auto 0 auto;
                 border-radius: 50%;
                 text-align: center;
                 line-height: 100%;
                 padding-top: .5em;
                 color: #fff;
            }
            #result-difference-circle i {
                font-size: 3rem;
                padding-left: 9px;
            }
            .diff-amount {
                font-size: 2.5rem;
            }

            .DC-green {
                background-color: #2ECC71;
            }
            .DC-red {
                background-color: #840010;
            }

            .compare-details {
                width: 200px;
                height: 200px;
                border-radius: 100px; 
                border: 1px solid #DF0000;
                text-align: center;
                margin: 0 auto;
            }
            .compare-prod-icon {
                width:100px;
                height:100px;
                margin: 1em auto 0 auto;
            }
    .detail-price{
        font-size: 2.5rem;
    }
    .detail-destCountry{
        font-size: 2rem;
    }
    .detail-baseCountry-price{
        font-size: 1.5rem;
    }
    #result-icon{
        font-size: 3rem;
    }
    
    .detail-conversion{
               margin-top: 13em;
            }