<style>
  .wellColor{
    
    background-color: #FFBA00;
  }
  .well {
      padding: 1em;
      min-height: 20px;
      margin-bottom: 20px;
      border-radius: 4px;
      -webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);
      box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
  .finalCalc {
    font-size:4em;
  }
  .info p { 
    color: #fff;
  }
</style>

  <!---->
  <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
<div class="col-md-2 col-lg-2"></div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
      <div class="well wellColor animated fadeIn"> 
<!---->
<span id="quantoDetSect">
<!---->
        <!--[INFO SECTION]-->
        <div class="row">
          <div class="info">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              
                <!--Text-->
                <label for="">Price in {{myForm.controls.destinationCurrency.value}}</label>
                  <p id="destPriceTxt">Loerm</p>
                <!--<label for="">Range</label>
                <p id="range">sprint 4</p>-->
                <label for="">Price in {{myForm.controls.baseCurrency.value}} </label>
                  <p id="basePriceTxt">Loerm</p>
                <small><span id="destPriceTxtEX"></span> [ {{myForm.controls.destinationCurrency.value}} ] = <span id="basePricePlusExhange"></span> [ {{myForm.controls.baseCurrency.value}} ] </small>
                <hr>
                <label for="">Exchange Rate</label>
                <p>
                  <small>{{myForm.controls.destinationCurrency.value}} vs {{myForm.controls.baseCurrency.value}} = <span id="destVbasTxt"></span></small>
                   <br>
                  <small> {{myForm.controls.baseCurrency.value}} vs {{myForm.controls.destinationCurrency.value}} = <span id="basVdestTxt"></span></small>
                </p>
                
                <small><i class="fa fa-refresh" aria-hidden="true"></i> The rates are updated daily around 4PM CET.</small>
                <hr>
                <div class="well">
                  <span id="finalCalcPer"></span> %
                  <br>
                  <span id="finalCalcCash"></span> {{myForm.controls.baseCurrency.value}}
                  <br>
                  <small id="pricerangeTxt">Product is Less/More Expansive</small>
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              
              <div class="iconBox" id="McMeal">
                <img src="/assets/img/McMeal.jpg" alt="">
              </div>
              <div class="iconBox" id="DomBeer">
                <img src="/assets/img/DomBeer.jpg" alt="">
              </div>
              <div class="iconBox" id="ImpBeer">
                <img src="/assets/img/ImpBeer.jpg" alt="">
              </div>
              <div class="iconBox" id="WineBottle">
                <img src="/assets/img/Wine.jpg" alt="">
              </div>
              <div class="iconBox" id="Coke">
                <img src="/assets/img/Coke.jpg" alt="">
              </div>
              <!--<div class="iconBox" id="PackSmokes">
                <img src="/assets/img/.jpg" alt="">
              </div>
              <div class="iconBox" id="OneWayTicket">
                <img src="/assets/img/.jpg" alt="">
              </div>
              <div class="iconBox" id="MovieTicket">
                <img src="/assets/img/.jpg" alt="">
              </div>-->
                
            </div>
          </div>
        </div>
<hr>

<!---->
</span>
<!---->
 <!-- [commodity SECTION]-->
        <div class="row">
          
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <select class="form-control" id="prodSel" formControlName="product">
                  <option value="">Select Commodity...</option>
                  <option value="McMeal">McMeal at McDonalds</option>
                  <option value="DomBeer">Domestic Beer</option>
                  <option value="ImpBeer">Imported Beer</option>
                  <option value="Coke">Coke</option>
                  <option value="WineBottle">Wine Bottle</option>
                  <option value="PackSmokes">Pack Smokes</option>
                  <option value="OneWayTicket">One Way Travel Ticket</option>
                  <option value="MovieTicket">Movie Tickt (1 person)</option>
                </select>
            </div>
          
        </div>

        <hr>  
        <!--[currency SECTION]-->
        <div class="row">
          
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <select class="form-control" id="baseCurSel" formControlName="baseCurrency">
                <option value="">Select Base Currency...</option>
                <option id="currentLocOpt"></option>
              </select>
              <label>Your current location is:</label> <i id="userLoc"></i>

            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <select class="form-control" id="destCurSel" formControlName="destinationCurrency"> 
                <option value="">Select Destination Currency...</option>
                
              </select>
            </div>
          </div>
        
      </div>

<!--<button type="button" id="calculateBtn" class="btn btn-primary">Test</button>-->

<a id="QuantoCalc" style="width:100%;" class="btn btn-primary">QuantoCalc</a>

            <!--<div class="margin-20">
              <pre>myForm value: <br>{{myForm.value | json}}</pre>
            </div>-->
    </div>
<div class="col-md-2 col-lg-2"></div>

  </form>
