 @font-face {
    font-family: bariol-light;
    src: url('Bariol_Light.otf');
  }
  @font-face {
    font-family: bariol-thin;
    src: url('Bariol_Thin.otf');
  }
  @font-face {
    font-family: bariol-regular;
    src: url('Bariol_Regular.otf');
  }