@import url("../css/fonts.css");
#wrapper{
      min-width: 320px;
      min-height: 100%;
      background: #fff; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#fff, #F3F3F3); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#fff, #F3F3F3); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#fff, #F3F3F3); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#fff, #F3F3F3); /* Standard syntax */
        overflow: hidden;
        font-family: bariol-light;
  }
  .btn-div {
    display: block;
      margin: 3em auto;
      position: relative;
      width: 96px;
      height: 96px;
      background-image: url('file:///Users/wilonawilson/QuantoTest/UI/img/btn_white.png');
  }
    .btn-div:active {
        display: block;
        margin: 3em auto;
        position: relative;
        width: 100px;
        height: 100px;
        background-image: url('file:///Users/wilonawilson/QuantoTest/UI/img/btn_red.png');
    }

     .compare-btn-div {
    display: block;
      margin: 3em auto;
      position: relative;
      width: 96px;
      height: 96px;
      background-image: url('file:///Users/wilonawilson/QuantoTest/UI/img/reCompareBtn.png');
  }
    .compare-btn-div:active {
        margin: 3em auto;
        width: 100px;
        height: 100px;
        background-image: url('file:///Users/wilonawilson/QuantoTest/UI/img/reCompareBtnActive.png');
    }
    .head-icon {
     display: block;
      margin: 1em auto;
      position: relative;
      width: 96px;
      height: 90px;
      background-image: url('file:///Users/wilonawilson/QuantoTest/UI/img/compare-icon.png');
      background-repeat: no-repeat;
      background-position: center center;
  }
  .head-icon-list {
      display: block;
      margin: 1em auto;
      position: relative;
      width: 96px;
      height: 90px;
      background-image: url('file:///Users/wilonawilson/QuantoTest/UI/img/list-icon.png');
      background-repeat: no-repeat;
      background-size:contain;
      background-position: center center;
  }

  .compare-form{
        height:300px;
        width: 100%;
        margin:9rem auto 0 auto; 
    }
    .currLocSelection{
        height: 60px;
        width:100%;
        float: left
    }
    .select-icons{
        min-height: 100%;
        width: 45px;
        float: left;
        margin-right:.5em; 
    }
    .select-icons img{
        
        min-width: 100%;
        
    }
    .select-input{
        min-height: 100%;
        width: 80%;
        float: left
    }

    #select-input-select {
        min-width: 100%; 
        min-height: 100%; 
        border: none;
        background-color: transparent;
        margin-top:.3em;  
        font-size: 2.2rem;
        
        color: #9B9B9B;
    }
    .plane-icon{
        float: left;
        width: 20px;
        height: 51px;
        background-image: url('file:///Users/wilonawilson/QuantoTest/UI/img/plane-icon-select.png');
        background-repeat: no-repeat;
    }
    .plane-icon-red{
        float: left;
        width: 20px;
        height: 51px;
        background-image: url('file:///Users/wilonawilson/QuantoTest/UI/img/plane-icon-select-red.png');
        background-repeat: no-repeat;
    }

/* Compare Result*/

  .compare-result{
        height:300px;
        width: 100%;
        margin:5rem 0; 

    }
        .range {
            height: 80px;
            width: 366px;
            margin-top: 110px;
            position: absolute;
        }
            .result-circle {
                 background-image: url('../assets/img/result-circle.png');
                 background-repeat: no-repeat;
                 background-size: contain;
                 width: 100%;
                 height: 293px;
                 margin: 0 auto;
            }
            .result-lowest,
            .result-highest {
                height: 80px;
                width: 80px;
                
                color: #000;
                line-height: 100%;
                text-align: center;
                padding-top:1.5em;

            }
            .result-lowest {
                
                float: left;
            }
            .result-highest {
                
                float: right;
                
            }
            #result-difference-circle {
                 width: 125px;
                 height: 125px;
                 margin: 10em auto 0 auto;
                 border-radius: 50%;
                 text-align: center;
                 line-height: 100%;
                 padding-top: .5em;
                 color: #fff;
            }
            #result-difference-circle i {
                font-size: 3rem;
                padding-left: 9px;
            }
            .diff-amount {
                font-size: 2.5rem;
            }

            .DC-green {
                background-color: #2ECC71;
            }
            .DC-red {
                background-color: #840010;
            }

            .compare-details {
                position: absolute;
                width: 100%;
                height: 100%;
                text-align: center;
            }
            .compare-prod-icon {
                width:100px;
                height:100px;
                margin: 1em auto 0 auto;
            }
    .detail-price{
        font-size: 2.5rem;
    }
    .detail-destCountry{
        font-size: 2rem;
    }
    .detail-baseCountry-price{
        font-size: 1.5rem;
    }

    /* Gorocery List */
    .list-box {
        height: 300px;
        width: 140%;
        margin: 5rem 0 5rem -5rem;
        padding: 0 2em;

    }
    .reveal-open {
        overflow: auto;
        height: 50%;
    }
    .reveal-closed {
        overflow: hidden;
        height: 20%;
    }
    #listTotals{
        padding: 0 2em 0 0px;
        background-color: #000;
        color: #fff;
        background: #681313; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left top, #681313, #FF0100); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(bottom right, #681313, #FF0100); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(bottom right, #681313, #FF0100); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to bottom right, #681313, #FF0100); /* Standard syntax */
                -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.77);
                -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.77);
                box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.77);
    }
    .convCash,
    .basePrices {
        width: 100%;
        border: 1px solid #fff;
        border-radius: 11px; 
        text-align: center;
        margin-bottom: 1em; 
    }
    .convertedBlock{
        text-align: center;
        padding-top: 1em; 
    }
    .list-total {
            
            width: 120px;
            height: 120px;
            background-color: #fff;
            border-radius: 60px;
            color: #000;
            padding-top: 2em;
            
    }
    .totalAmount{
        font-size: 2rem;
    }
    .smallTotals{
        width: 100%;
        border: 1px solid #fff;
        border-radius: 20px; 
        text-align: center;
        margin-bottom: 1em;
        padding: 8px;
    }
    #closedTotalBox{
        margin-top: 8px;
    }
    .conv-box-image {
        position: absolute;
        width:100%;
        height: 30px;
        margin-top:-20px;
    }
    .conversionCountries {
        
        width:200px;
        height: 30px;
        margin: 0 auto;
        background-color: #DF0000   ;
        border-radius: 20px; 
        padding: 5px 5px 5px 10px;
        color: #fff;
        -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.77);
                -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.77);
                box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.77);
    }
    .baseCur-list,
    .destCur-list {
        width: 30px;
        height: 30px;
        float: left
    }
    .conversionCountries-img{
        width: 120px;
        height: 18px;
        float: left;
        background-image: url('file:///Users/wilonawilson/QuantoTest/UI/img/list-plane.png');
        background-position: center center;
        background-repeat: no-repeat;
        padding-right: 5px;
        
    }
    #table-headings {
        margin: .5em 0;
    }
    #table-content{
        overflow-y: scroll;
        min-width: 120%;
        
        padding-left:0 2em;
        
        -webkit-box-shadow: inset 0px -2px 10px 0px rgba(0,0,0,0.77);
                    -moz-box-shadow: inset 0px -2px 10px 0px rgba(0,0,0,0.77);
                    box-shadow: inset 0px -2px 10px 0px rgba(0,0,0,0.77);
    }
    .table-content-height-big {
        max-height: 280px;
    }
    .table-content-height-small {
        max-height: 200px;
    }
    .product-cell{
        border-bottom: 1px dashed #000;
        height: 21px;
        width: 100%;
        margin: 5px;
        font-family: Bariol-Regular;
        padding-right: 25%;
    }
    .btn-div-list-drop {
        display: block;
    margin: 3em auto;
    position: relative;
    width: 100%;
    height: 100px;
    background-image: url('file:///Users/wilonawilson/QuantoTest/UI/img/list-btn-drop.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    }
    .btn-div-list {
        position: absolute;
        right: 0;
        display: block;
        width: 96px;
        height: 96px;
        background-image: url('file:///Users/wilonawilson/QuantoTest/UI/img/list-btn-w.png');
        background-repeat: no-repeat; 
    }
        .btn-div-list:active {
            position: absolute;
            right: 0;
            display: block;
            margin-top: .1em;
            width: 96px;
            height: 96px;
            background-image: url('file:///Users/wilonawilson/QuantoTest/UI/img/list-btn.png');
            background-repeat: no-repeat;
        }

    #select-input-select-list {
            min-width: 100%;
            min-height: 100%;
            border: none;
            background-color: transparent;
            margin: .6em 0;
            font-size: 2.2rem;
            padding-left: 3rem;
            color: #DF0000;
        }